.category_container{
    // min-height: 80vh;
    display: flex;
    gap:20px 20px;
    flex-wrap: wrap;
    .category-element{
        width: 30%;
        padding: 10px;
        .category-title{

        }
        .categories{

        }
    }

}